*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'montserrat'; */
    font-family: 'Dancing Script', cursive;
font-family: 'Jost', sans-serif;
font-family: 'Montserrat', sans-serif;
    color: white;
}

html,body{
    width: 100%;
    height: 100%;
}

#cursor{
    height: 20px;
    width: 20px;
    background-color: #95c11e;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}
#cursor-blur{
    height: 400px;
    width: 400px;
    background-color: rgba(195, 249, 47, 0.167);
    border-radius: 50%;
    position: fixed;
    filter: blur(40px);
    z-index: 9 ;
}
#nav{
    height: 135px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: red; */
    gap: 50px;
    padding: 0px 150px;
    position: fixed;
    z-index: 99;
    
}

#nav img{
    height: 75px;
}

#nav h4{
    font-weight: 500;
    white-space: nowrap;

}

#buttons{
    display: flex;
    gap: 5px;
}

#btn1{
    background-color: black;
    color: white;
    border-radius: 30px;
    border: 3px solid #95c11e;
    padding: 10px 20px;
    font-size: 1rem; 
    transition: all ease 0.6s;
    white-space:nowrap;


}
#btn2{
    background-color: black;
    color: white;
    border-radius: 30px;
    border: 2px solid #95c11e;
    padding: 10px 20px;
    font-size: 1rem; 
    transition: all ease 0.6s;
    white-space:nowrap;
}
#btn1:hover{
    background-color: #95c11e;
    color: black;
    
}
#btn2:hover{
    background-color: #95c11e;
    color: black;
    
}
video{

    height: 100%;
    width: 100%;
    position: fixed;
    object-fit: cover;
    z-index: -1;
}

#main{
    position: relative;
    background-color: rgba(0, 0, 0, 0.37);

}

#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
}
#page1 h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 130px;
    font-weight: bold;
    position: relative;
}
#page1 h1::before{
    
    content:" EAT. DRINK. PLAY.";
    position: absolute;
    color: black;
    top: -5px;
    left: -5px;
    -webkit-text-stroke: 1px #95c11e;
    z-index: -1;
}

#page1 h2{
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
    margin-top: 10px;
}

#page1 p{
    font: 20px;
    font-weight: 500;
    width: 40%;
}

#page1 #arrow{
    /* background-color: red; */
    height: 200px;
    width: 200px;
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0%;
    left: -2%;
    border-radius: 50%;
    border: 2px solid #95c11e;
    transition: all ease 0.5s;
}



#arrow i{
    font-size: 50px;
    font-weight: 100;

}
#arrow:hover{
    scale: 0.4;
    background-color: #95c11e;
}
a{
    text-decoration: none;
}

#page2 {
    min-height: 100vh;
    width: 100%;
    z-index: 10;
}

#scroller{
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden; 
    position:relative;
    z-index:10;
}
#scroller::-webkit-scrollbar{
    display: none;
}
#scroller h4{
    display: inline-block;
    font-size: 100px;
    /* font-weight: 900; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 10px;
    -webkit-text-stroke: 2px #95c11e;
    color: transparent;
    transition: all linear 0.4s;

}

#scroller h4:hover{
    color:#95c11e;
}

#scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count:infinite;
}

@keyframes scroll{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#about-us{
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 50px;
    position: relative;
    z-index:10;
}

#about-us img{
    height: 180px;
    width: 180px;
    border-radius: 20px;
    object-fit: cover;
    
}

#about-us-in{
    width: 50%;
    text-align: center;
}

#about-us-in p{
    font-size:17px;
    line-height: 26px;
}

#about-us-in h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 34px;
}

#card-container{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    position: relative;
    z-index:10;
    
}

.card{
    height: 80%;
    width: 24%;
    border-radius: 20px;
    background-size:cover;
    background-position: center;
    overflow: hidden;
    transition: all ease 0.6s;
    margin-bottom: 20px;
}

#card1{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}

#card2{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4-1024x1024.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}

#card3 {
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
  }

.overlay{
    width: 100%;
    height: 100%;
    background-color: #95c11e;
    padding: 35px;
    padding-top:100px;
    opacity: 0;
    transition: all ease 0.6s;

}

.overlay h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size:30px;
    white-space: nowrap;
    font-weight: 900;
    margin-bottom: 20px;
}

.overlay p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.714);
    font-weight: 100;
}

.card:hover .overlay{
    opacity: 1;

}

.card:hover {
    transform: rotate3d(-1,1,0,20deg);
}

#green-div{
    height: 40vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:linear-gradient(to left bottom,#119f3a,#ace022);
    position: relative;
    z-index: 10;
}

#green-div h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 45%;
    color: black;
    line-height: 40px;
    text-align: center;
    font-size: 28px;
    font-weight: 800;
}

#green-div img{
    height: 100%;
    object-fit: cover;
    width: 14%;
}

#page3{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#page3 p{
    font-size: 25px;
    width: 55%;
    font-weight:900;
    text-align: center;
    text-transform: uppercase;
    line-height: 45px;
   font-family: Arial, Helvetica, sans-serif;
}

#page3 img{
    height: 6vh;
    position: absolute;
}

#page3 #colon1{
    left:15%;
    top: 25%;
}

#page3 #colon2{
    right: 20%;
    bottom: 25%;
}

#page4 {
    height: 30vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
    position: relative;
}

.elem{
    height: 70%;
    width: 25%;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    z-index:10;
}

.elem h2{

    width: 100%;
    height: 100%;
    background-color: #95c11e;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: xx-large ;
    font-weight: 900;
   font-family: Arial, Helvetica, sans-serif;
   position: absolute;
   transition: all ease-in 0.4s;
}

.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease-in 0.4s;

}

.elem:hover h2{
    color: white;
    background-color: transparent;
}

#page4 h1{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    font-size: 75px;
    font-weight: 800;
    top: -19%;
    color: black;
    -webkit-text-stroke: 1px white;
    z-index: 10;
}
#footer {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10vh;
    height: 40vh;
    width: 100%;
    background: linear-gradient(to left bottom, #119f3a 0%, #a3d421 80%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6.5vw;
    padding: 0 100px;
  }
  #footer > img {
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 0;
  }
  #f1 img {
    height: 100px;
  }
  #f1,
  #f2,
  #f3,
  #f4 {
    width: fit-content;
    position: relative;
    z-index: 99;
    /* background-color: red; */
  }
  #f2 h3 {
    font-size: 1.6vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 900;
    margin-bottom: 8px;
  }
  
  #f3 h3 {
    font-size: 1.6vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
    margin-bottom: 8px;
  }
  #f4 h4 {
    font-size: 1vw;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 8px;
  }
